* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
button,
select {
  border: none;
  cursor: pointer;
}

$white: #fff;
$black: #000;
$orange: #fdc463;
$stars-color: #f8a401;
$footer-color: #fee0ae;
$footer-copyright-color: #f7ca7e;

