// RECOMMENDED SECTION
// Tu zrezygnowałem z nestingu i po części z BEM, bo stało sie dla mnie bardziej chaotyczne i nieuporządkowane.

.recommended {
  width: 100vw;
  height: 100vh;
  padding: 60px 0 60px 100px;
  position: relative;

  &__heading-container {
    display: flex;
    flex-direction: column;
    width: 34%;
  }

  &__heading-title {
    font-weight: 600;
    font-size: 39px;
  }

  &__heading-description {
    font-size: 25px;
    line-height: 35px;
  }
}

.hotels-examples-container {
  display: flex;
  gap: 35px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.hotel-card-main {
  padding-top: 30px;
}

.main-hotel-img {
  width: 685px;
  height: 489px;
}

.main-hotel-img {
  -o-object-fit: contain;
  object-fit: contain;
}

.delight-figcaption {
  padding: 18px 20px 20px 32px;
}

.delight-figcaption,
.royal-figcaption,
.air-figcaption {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.figcaption-box-first,
.figcaption-box-second {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.hotel-delight-name {
  font-weight: 400;
  font-size: 39px;
}

.delight-notes-box {
  display: flex;
  gap: 7px;
}

.delight-card-star,
.royal-card-star,
.air-card-star {
  color: $orange;
}

.hotel-delight-notes-number {
  font-size: 20px;
}

.delight-hotel-city {
  font-size: 30px;
  font-weight: 400;
}

.delight-hotel-link {
  font-size: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  &:hover {
    opacity: 0.8;
  }
}

.secondary-hotel-img {
  width: 379px;
  height: 427px;
}

.royal-figcaption {
  padding: 9px 11px 15px 18px;
}

.hotel-royal-name,
.hotel-air-name {
  font-size: 20px;
  font-weight: 400;
}

.royal-card-star,
.air-card-star {
  transform: scale(0.6);
}

.royal-notes-box,
.air-notes-box {
  display: flex;
  align-items: center;
}

.hotel-royal-notes-number,
.hotel-air-notes-number {
  font-size: 10px;
}

.royal-hotel-city {
  font-weight: 400;
  font-size: 15px;
}

.royal-hotel-link {
  font-size: 10px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  &:hover {
    opacity: 0.8;
  }
}

.air-figcaption {
  padding: 4px 0 15px 15px;
}

.recommended__carousel-icons {
  position: absolute;
  right: 350px;
  bottom: 196px;
  display: flex;
  gap: 13px;
}

.recommended__carousel-icon {
  color: #9b9995;
  & i {
    transform: scale(0.7);
  }
  &:nth-of-type(2) {
    color: $orange;
  }
}

.hotel-card-third {
  margin-left: 20px;
}
