@import "_global.scss";
@import "_top-section.scss";
@import "_nav-top-mobile.scss";
@import "_recommended.scss";

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
